@model IEnumerable<Landlord>

Our landlords:
<table>
    <tr>
        <th>Landlord ID</th>
        <th>Profile ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    @foreach (var landlord in Model)
    {
        <tr>
            <td>@landlord.Id</td>
            <td>@landlord.ProfileId</td>
            <td>@landlord.Profile.FirstName</td>
            <td>@landlord.Profile.LastName</td>
        </tr>
    }
</table>