@model ApartmentViewModel

<p>Fill in the data below and click "Add new apartment" to add a new apartment to your list.</p>
<form method="post" asp-action="Add">

    <!-- -->
    <p>
        <label asp-for="City"></label>
        <input asp-for="City" />
    </p>
    <p>
        <label asp-for="Country"></label>
        <input asp-for="Country" />
    </p>
    <p>
        <label asp-for="State"></label>
        <input asp-for="State" />
    </p>
    <p>
        <label asp-for="StreetName"></label>
        <input asp-for="StreetName" />
    </p>
    <p>
        <label asp-for="StreetNumber"></label>
        <input asp-for="StreetNumber" />
    </p>
    <p>
        <label asp-for="ZipCode"></label>
        <input asp-for="ZipCode" />
    </p>

    <!-- The rest of the apartment -->
    <p>
        <label asp-for="Area"></label>
        <input asp-for="Area" />
    </p>
    <p>
        <label asp-for="AvailableSince"></label>
        <input asp-for="AvailableSince" />
    </p>
    <p>
        <label asp-for="BuildingFloors"></label>
        <input asp-for="BuildingFloors" />
    </p>
    <p>
        <label asp-for="Floor"></label>
        <input asp-for="Floor" />
    </p>
    <p>
        <label asp-for="Type"></label>
        <input asp-for="Type" />
    </p>

    <input type="submit" value="Add new apartment" />
</form>
