@model DetailsUpdateDeleteApartmentViewModel

@{
    ViewData["Title"] = "Delete your apartment";
}

<h3>You are about to delete the following apartment from you list:</h3>
<form method="post" asp-action="Delete">
    <p>
        <input asp-for="ApartmentId" hidden="hidden" />
        <input asp-for="AddressId" hidden="hidden" />
    </p>

    <partial name="_ApartmentDetailsPartial" model="Model"/>
    <input type="submit" value="Continue" />
</form>

<a class="btn btn-primary" asp-controller="Apartment" asp-action="Index">Back to apartments list</a>