@model DetailsUpdateDeleteApartmentViewModel

@{
    ViewData["Title"] = "Details of your apartment";
}

<p>Details of your apartment:</p>
<partial name="_ApartmentDetailsPartial" model="Model" />
@if (Model.Rooms.Any())
{
    @if(TempData["AttemptedToAddRoomToFullApartment"] != null)
    {
        <p></p>
        var message = (string)TempData["AttemptedToAddRoomToFullApartment"].ToString();
        <div class="alert alert-info" role="alert">
            @message
        </div>
    }
    <p>Rooms associated with this apartments:</p>
    <table border="1px solid black" border-collapse="collapse">
        <tr>
            <partial name="_RoomDetailsHeaderPartial"/>
            <th>Actions</th>
        </tr>
        @foreach (var room in Model.Rooms)
        {
            <tr>
                <partial name="_RoomDetailsBodyPartial" model="@room"/>
                <td>
                    <a class="btn btn-primary"
                       asp-controller="Room"
                       asp-action="Update"
                       asp-route-roomId="@room.RoomId">Update</a>
                    <a class="btn btn-primary"
                       asp-controller="Room"
                       asp-action="Delete"
                       asp-route-roomId="@room.RoomId">Delete</a>
                </td>
            </tr>

        }
    </table>
}
else
{
    <p>You currently have no rooms associated with this apartments.</p>
}

@if (Model.Rooms.Count < Model.NumberOfRooms)
{
    <a class="btn btn-primary"
       asp-controller="Room"
       asp-action="Add"
       asp-route-apartmentId="@Model.ApartmentId">Add a room to this apartment</a>
}
<a class="btn btn-primary" asp-controller="Apartment" asp-action="Index">Back to apartments list</a>