@model DetailsUpdateDeleteApartmentViewModel

@{
    ViewData["Title"] = "Details of your apartment";
}

<p>Details of your apartment:</p>
<partial name="_ApartmentDetailsPartial" model="Model"/>

<a class="btn btn-primary" asp-controller="Apartment" asp-action="Index">Back to apartments list</a>