@model CreateRoomViewModel

@{ 
    ViewData["Title"] = "Create a room for your apartment";
}

<form method="post" action="Add">
    <input asp-for="ApartmentId" hidden="hidden" />

    <label asp-for="Price"></label>
    <input asp-for="Price" />
    <label asp-for="RoomType"></label>
    <input asp-for="RoomType" />
    <label asp-for="Area"></label>
    <input asp-for="Area" />
    <label asp-for="IsFurnished"></label>
    <input asp-for="IsFurnished" />

    <input type="submit" value="Add room"/>
</form>

<a class="btn btn-primary"
   asp-controller="Apartment"
   asp-action="Details"
   asp-route-apartmentId="@Model.ApartmentId">Cancel</a>