@model DetailsUpdateDeleteRoomViewModel

@{ 
    ViewData["Title"] = "Delete your room";
}

<form method="post" asp-action="Delete">
    <input hidden="hidden" asp-for="@Model.RoomId" />
    <input hidden="hidden" asp-for="@Model.ApartmentId" />

    <table border="1px solid black" border-collapse="collapse">
        <tr>
            <partial name="_RoomDetailsHeaderPartial" />
        </tr>
        <tr>
            <partial name="_RoomDetailsBodyPartial" model="Model" />
        </tr>
    </table>

    <input class="btn btn-danger" type="submit" value="Delete this room from your apartment" />
</form>

<a class="btn btn-primary"
   asp-controller="Apartment"
   asp-action="Details"
   asp-route-apartmentId="@Model.ApartmentId">Back to your apartment</a>